body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Roboto", "Oxygen",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider {								/* minor cosmetics */
  display: table;
  font-size: 15px;
  text-align: center;
  width: 75%; 						/* divider width */
  margin: 15px auto;					/* spacing above/below */
}

.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 9px;							/* adjust vertical align */
  -moz-background-size: 100% 2px; 	/* line width */
  background-size: 100% 2px; 			/* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#555));
  background-image: -webkit-linear-gradient(180deg, transparent, #555);
  background-image: -moz-linear-gradient(180deg, transparent, #555);
  background-image: -o-linear-gradient(180deg, transparent, #555);
  background-image: linear-gradient(90deg, transparent, #555);
}
.divider span:nth-child(2) {
  color: #555; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #555, transparent);
  background-image: -moz-linear-gradient(180deg, #555, transparent);
  background-image: -o-linear-gradient(180deg, #555, transparent);
  background-image: linear-gradient(90deg, #555, transparent);
}
